.encabezado {   
 color:green
}

h3 { 
    color:coral
}
h1 {
    color: greenyellow;
    font-family: Tahoma;
}
body {
    margin-left:30px
    
}
.encabezado {
    
    background-image: url("./winxp.jpg");
}
