.row {
    padding: 20px;
    color: black
}
div{
    background-color: #1B0A4D;
    
}
/*Estilo de la foto de perfil*/

@media (min-width:1080px){
    #fotoperfil{
        position: absolute;
        width: 11em;
        border-radius: 100%;
        box-shadow: 3px 3px 3px 3px black;
        top: 60%;
        
       
    }
}
@media (max-width:1080px){
    #fotoperfil{
        position: absolute;
        width: 8em;
        border-radius: 100%;
        box-shadow: 3px 3px 3px 3px black;
        top: 25em
       
    }
}




@media (max-width:575px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px 3px black;
        left: 43%;
        top: 70%;
    }


}


/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    color:black;
    margin-top: 18%;
    
}
/*Espaciado del texto*/
#acercademi{
    text-align: center;
    
}