<div class="row" id="HardSkills">
    <h1>Hard & Soft skills</h1>
    <circle-progress class="text-center col-xs-3 col-sm-3 col-md-3 col-lg-3"
    [percent]="60"
    [radius]="100"

    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#F04426'"
    [innerStrokeColor]="'#FA7128'"
    [animation]="true"
    [animationDuration]="500"
    [titleColor]="'red'"
    [subtitle]="'Inglés'"
    [subtitleFontSize]="'20'"
    [subtitleColor]="'red'"
    
  ></circle-progress>

  <circle-progress class="text-center col-xs-3 col-sm-3 col-md-3 col-lg-3"
    [percent]="70"
    [radius]="100"
 
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#F04426'"
    [innerStrokeColor]="'#FA7128'"
    [animation]="true"
    [animationDuration]="500"
    [titleColor]="'red'"
    [subtitle]="'Matemáticas'"
    [subtitleFontSize]="'20'"
    [subtitleColor]="'red'"
    
  ></circle-progress>

  <circle-progress class="text-center col-xs-3 col-sm-3 col-md-3 col-lg-3"
    [percent]="90"
    [radius]="100"

    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#F04426'"
    [innerStrokeColor]="'#FA7128'"
    [animation]="true"
    [animationDuration]="800"
    [titleColor]="'red'"
    [subtitle]="'Taekwondo'"
    [subtitleFontSize]="'20'"
    [subtitleColor]="'red'"
    
  ></circle-progress>

  <circle-progress class="text-center col-xs-3 col-sm-3 col-md-3 col-lg-3"
    [percent]="70"
    [radius]="100"
 
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#F04426'"
    [innerStrokeColor]="'#FA7128'"
    [animation]="true"
    [animationDuration]="800"
    [titleColor]="'red'"
    [subtitle]="'Diseño Web'"
    [subtitleFontSize]="'20'"
    [subtitleColor]="'red'"
    
  ></circle-progress>

  <circle-progress class="text-center col-xs-3 col-sm-3 col-md-3 col-lg-3"
    [percent]="100"
    [radius]="100"
 
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#F04426'"
    [innerStrokeColor]="'#FA7128'"
    [animation]="true"
    [animationDuration]="800"
    [titleColor]="'red'"
    [subtitle]="'Trabajo grupal'"
    [subtitleFontSize]="'20'"
    [subtitleColor]="'red'"
    
  ></circle-progress>

</div>
