.encabezado {   
 color:green
}

h3 { 
    color:coral
}
h1 {
    color: greenyellow;
    font-family: Tahoma;
}
body {
    margin-left:30px
    
}
.encabezado {
    
    background-image: url("./winxp.jpg")
    50px;
}
.background-image {border: color rgba(255, 255, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  , url("winxp.jpg");

/* Global values */
background-image: inherit;
background-image: initial;
background-image: revert;
background-image: revert-layer;
background-image: unset;
}