<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="container">
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 parte1">
            <h2>Proyectos de modelado</h2>
            <p class="intro">A lo largo de la secundaria fui haciendo varios proyectos, entre ellos modelados 3d, diseño de dibujos técnicos, hasta piezas mecanizadas con máquinas y herramientas.</p>

        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 parte2">
            <p><strong> A continuación, un plano de una explotada del conjunto estático de un Torno mecanico paralelo </strong></p>

            <img src="../../../assets/ProyectoTorno.png" class="img-fluid img-proyecto" id="Torno">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  parte2">
            <p><strong> Un plano de un motor de dos cilindros. </strong></p>

        

            <img src="../../../assets/ProyectoMotor.png" class="img-fluid img-proyecto" id="Motor">
        </div>

    </div>
</div>