

<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1:</h1><h3> Pasantía en PROALTEC S.A. </h3><h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quas nulla odit, laborum repellat ad ea doloribus obcaecati aut necessitatibus non nobis eius officiis blanditiis voluptate nesciunt doloremque ipsam. Consequuntur?
            </p>

        </ul>

    </div>


</div>
